
<section class="container">
    <div class="row">
        <div class="col-md-offset-1 col-md-8 mb64 mt64">
            <div class="">
                <h2 class="display-3">REST API</h2>
                <h4 class="text-default">Secure tool for convenient integrations</h4>
                <p class="text-default mt16">Version: v<b>14.0</b>.1.2.4</p>
            </div>
        </div>
        <div class="col-md-3 text-right">
            <p>
                <img src="https://itpp.dev/images/favicon.png"/>
                <br/>Tested and maintained by
                <br/><b>Dody Ahmad </b>
                <br/>Assitance: <a href="mailto:dodyakj@gmail.com">dodyakj@gmail.com</a>
            </p>
        </div>
    </div>
</section>

